@model TaskForge.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h3>@Model.ProjectCount</h3>
                <p>Projects</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h3>@Model.MyTasks</h3>
                <p>My Tasks</p>
            </div>
        </div>
    </div>
</div>

